body {
    background-image: url("../images/background_green.png")

}

#game-container {
    max-width: 960px;
    background-color: #ffffff;
    margin: 0px auto;
    padding: 30px 40px;
    
}

#game-header h1{
    font-family: 'Amatic SC', cursive;
    /* font-weight: bold; */
    font-size: 7em;
    text-align: center;
    padding: 20px 0px;
    color: #a3d84e;
    
}

#time-left {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#game-header {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: #a3d84e solid 2px;
}

#question-container {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}
#start-popup {
    text-align: center;
}
#start-btn {
    margin-top: 30px;
}

.gamebutton {

    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    border: #a3d84e solid 3px;
    font-weight: bold;
    padding: 5px 30px;
    color: #a3d84e;
}

.gamebutton :hover {
    color: #ffffff;
    background-color: #a3d84e;
}

.question-block {
    margin: 25px 30px;
}
.choice-block {
    padding: 20px 30px;
}

.choice-block li{
    padding-bottom:10px; 
}

.choice-block li input{
    margin-right: 20px;
}

#results-popup {
    display: none;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    /* height: 300px; */
    background-color: #a3d84e;
}

#quiz-results, #unanswered {
    font-family: 'Amatic SC', cursive;
    margin: auto;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    padding: 20px 0px;
    color: #fff;
}

#results-popup h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding: 30px 0px 20px;
    color: #fff;
    line-height: 1.2;
}
